RevotechApi/WebserviceCrendential/etc/wsixxx.xml

  <?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="{{var wsdl.name}}"
                  targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
<xsd:complexType name="apiprefix_myDataEntity">
    <xsd:sequence>
    
      
        <element name="password" type="xsd:string" />                           
        <element name="email" type="xsd:string" />
      
    </xsd:sequence>
</xsd:complexType>

   <xsd:complexType name="apiprefix_myDataEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:apiprefix_myDataEntity" />
                </xsd:sequence>
            </xsd:complexType>


<xsd:element name="apiprefix_myresourceMyfunctionRequestParam">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="shopperId" type="xsd:string" />
              <!--xsd:element minOccurs="1" maxOccurs="1" name="cinfoId" type="typens:associativeArray" /-->
             <xsd:element minOccurs="1" maxOccurs="1" name="customerData" type="typens:apiprefix_myDataEntityArray" />
                   
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
<xsd:element name="apiprefix_myresourceMyfunctionResponseParam">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:apiprefix_myDataEntityArray" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>


      

</xsd:schema>
</wsdl:types>





<wsdl:message name="apiprefix_myresourceMyfunctionRequest">
    <wsdl:part name="parameters" element="typens:apiprefix_myresourceMyfunctionRequestParam" />
</wsdl:message>
<wsdl:message name="apiprefix_myresourceMyfunctionResponse">
    <wsdl:part name="parameters" element="typens:apiprefix_myresourceMyfunctionResponseParam" />
</wsdl:message>



<wsdl:portType name="{{var wsdl.handler}}PortType">
    <wsdl:operation name="apiprefix_myresourceMyfunction">
        <wsdl:documentation>Retrieve project info</wsdl:documentation>
        <wsdl:input message="typens:apiprefix_myresourceMyfunctionRequest" />
        <wsdl:output message="typens:apiprefix_myresourceMyfunctionResponse" />
    </wsdl:operation>
</wsdl:portType>



<wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />


    <wsdl:operation name="apiprefix_myresourceMyfunction">
        <soap:operation soapAction="" />
        <wsdl:input>
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal" />
        </wsdl:output>
    </wsdl:operation>

</wsdl:binding>
<wsdl:service name="{{var wsdl.name}}Service">
    <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
        <soap:address location="{{var wsdl.url}}" />
    </wsdl:port>
</wsdl:service>
</wsdl:definitions>